/* style toàn cục */
.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 2%;
  }
  .content {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .logreg-box {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
  }
  .navbar a {
    margin-right: 15px;
  }
  .search-bar {
    width: 150px;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* global.css */
:root {
  --primary-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: var(--primary-font);
  font-weight: 400; /* Độ dày mặc định là regular */
  line-height: 1.6; /* Khoảng cách dòng cho dễ đọc */
  color: #333;
  margin: 0;
  padding: 0;
}

/* Đảm bảo các thẻ HTML cơ bản cũng dùng Poppins */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 600; /* Tiêu đề dùng Poppins semibold */
}

p,
a,
span,
div,
input,
textarea,
button,
select {
  font-family: var(--primary-font);
  font-weight: 400; /* Nội dung dùng Poppins regular */
}

/* Đảm bảo các phần tử giao diện khác cũng kế thừa */
* {
  box-sizing: border-box;
  font-family: var(--primary-font);
}
